html {
    background: rgb(1, 51, 102);
    background: linear-gradient(90deg, rgba(1, 51, 102, 1) 0%, rgba(104, 190, 217, 1) 100%);

    body {
        background: white;
        min-height: 100vh;

        &,
        * {
            box-sizing: border-box;
        }
    }

    main {
        .page-section {
            padding: 64px 10% 25px 10%;
            &:nth-of-type(even) {
                background: #efefef;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                text-align: center;
                color: $color1;
            }
            hr {
                margin: 5px auto;
                border-color: $color2;
            }
            p {
                color: #535353;
                strong {
                    color: #1f1f1f;
                }
            }
        }
    }
}
